.profile__avatar-button {
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0.8) url('../../../images/avatar-icon.svg') center no-repeat;
  background-size: 26px 26px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 55px;
  opacity: 0;
}

.profile__avatar-button:hover {
  opacity: 1;
}